main * {
  /* border: 1px solid black; */
  /* border: 1px solid white; */
}

main {
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #938155;
  /* background-image: url(../materials/photos/鄉村背景.jpg); */
  background-image: linear-gradient(45deg, #020001, #876741);
  transition: 1s;
}

main h1 {
  margin: 20px 0 15px 0;
  color: #f7f6ee;
}

.bgc {
  width: 100%;
  height: 650px;
  overflow: hidden;
}
.bgc img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* position: absolute; */
}

.introducing_card {
  height: 480px;
  width: 800px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #f7f6ee;
  margin-top: 5vh;
  transition: 2s;
  /* position: relative; */
}

.introducing_card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 3rem white;
}

.introducing_card:hover .circle {
  width: 115px;
  height: 115px;
  right: -30px;
  bottom: -50px;
}

.PersonalPhoto {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* object-fit: cover; */
}

.introducing_card .left {
  height: 100%;
  /* flex: 4; */
}

.introducing_card .right {
  height: 100%;
  /* flex: 10; */
  /* width: 60%; */
  padding: 10px 30px;
  /* overflow: auto; */
}

.right h2 {
  margin-top: 5px;
  font-size: 2.5rem;
}

.right p {
  margin-top: 5px;
  letter-spacing: 1.5px;
  line-height: 20px;
  font-size: 1rem;
  font-weight: 500;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #cbae88;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 10px #938155;
  right: -20px;
  bottom: -20px;
  transition: 0.5s;
}

.ServerStuffs {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ServerStuff {
  background-color: #65461e;
  padding: 7px 5px;
  margin: 3px 5px;
  display: inline-block;
  border-radius: 0.75rem;
  font-weight: 400;
  transition: 0.1s;
  font-size: 10px;
  color: white;
  cursor: pointer;
  z-index: 3;
}
.ServerStuff:hover {
  transform: scale(2);
  box-shadow: 0 0 1rem #65461e;
  color: #65461e;
  font-weight: 700;
  background-color: #f3dfc2;
  z-index: 4;
}

.line_info {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  /* justify-content: center; */
}

.line_info * {
  display: inline-block;
}

.linePhoto {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

iframe {
  border-radius: 30px;
  margin-bottom: 20px;
  width: 100%;
  /* transition: 0.5s; */
}

.location,
.shake {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.location h1 {
  text-align: right;
}

.doNotAttach {
  /* width: 70%; */
}

.goleft {
  position: relative;
  /* right: 10px; */
  transition: 0.2s;
}

.goright {
  position: relative;
  /* left: 10px; */
  transition: 0.2s;
}

@media (max-width: 768px) {
  .introducing_card {
    flex-direction: column;
    height: auto;
    width: 70%;
    padding: 0;
    background: none;
    overflow: visible;
  }

  .introducing_card:hover {
    box-shadow: none;
  }

  .circle {
    display: none;
  }

  .introducing_card h2 {
    text-align: center;
  }

  .introducing_card .left {
    /* width: 100%; */
    height: 30vh;
  }

  .PersonalPhoto {
    position: relative;
    top: 20px;
    border-radius: 2rem;
  }

  .introducing_card .right {
    padding: 30px;
    border-radius: 20px;
    background-color: #f7f6ee;
    min-width: 200px;
    /* min-width: 300px; */
  }

  .ServerStuffs {
    justify-content: start;
  }

  .line_info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .doNotAttach {
    width: 70% !important;
    /* max-width: 80% !important; */
  }

  .goleft,
  .goright {
    position: static !important;
  }

  .goleft:hover,
  .goright:hover {
    transform: none;
  }

  .about_me,
  .location,
  .shake {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .right h2 {
    margin-top: 5px;
    font-size: 2rem;
  }
}
