.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mid * {
  /* border: 1px solid #000; */
  box-sizing: border-box;
}

.searchBar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 20px 0;
  background-color: #bababa;
}

.objectRegion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 500px; */
}

.objcards {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  width: 90%;
  /* padding: 20px 30px; */
  /* justify-content: space-between; */
  align-items: flex-start;
}

.objcard {
  width: 230px;
  height: 300px;
  margin: 15px;
  box-shadow: 3px 3px 7px #bababa;
  min-width: 230px;
  background-color: #f7f6ee;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.objcard:hover {
  box-shadow: 0 0 20px #bababa;
}

.photo {
  height: 150px;
}

.photo > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.cardinfo {
  padding: 5px 15px;
}

.cardinfo > h1 {
  margin-bottom: 10px;
}

.objtype {
  color: #0066d1;
  display: inline;
  margin-left: 10px;
}

.objprice {
  color: red;
  font-weight: 700;
  font-size: 24px;
}

.delPrice {
  text-decoration: line-through;
  font-size: 20px;
  font-weight: 500;
  color: gray;
}

.WantToSee {
  font-size: 15px;
  color: rgb(9, 48, 148);
  padding: 10px 5px;
  text-align: right;
}

.WantToSee {
  align-self: flex-end;
}

.lowprice {
  position: absolute;
  font-size: 20px;
  top: 20px;
  right: -55px;
  color: white;
  background-color: red;
  padding: 2px 50px;
  transform: rotate(45deg);
}

@media (max-width: 768px) {
  .objcards {
    width: 100%;
    padding: 20px 10px;
  }
}

@media (max-width: 435px) {
  .objcard {
    width: 100%;
    height: auto;
  }

  .photo {
    height: 30vh;
  }
}
