.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mid * {
  /* border: 1px solid #000; */
  box-sizing: border-box;
}

.searchBar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 20px 0;
  background-color: #bababa;
}

.objectRegion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 80vh;
  position: relative;
  /* min-height: 500px; */
}

.filterRegion {
  /* width: 300px; */

  /* background-color: #39536e; */
  background-image: linear-gradient(#39536e, #4f7193);
  padding: 1rem;
  box-shadow: 0 0 20px #bababa;
  z-index: 5;
  transition: 1s;
}

.filterSwitch {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  /* box-shadow: 0 0 10px gray; */
  cursor: pointer;
  background-color: #39536e;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  top: 18vh;
  left: 3vw;
  z-index: 5;
}

.filterSwitch:hover {
  transform: scale(1.05);
}

.filterSwitch:active {
  transform: scale(0.97);
}

.filterSelector {
  padding: 15px;
}

.cross {
  display: none;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 3vh;
  cursor: pointer;
}

.cross:active {
  transform: scale(0.8);
}

.filterSelector label {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
}

.filterSelector span {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
}

.filterInput {
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  margin-bottom: 15px;
}

.objcards {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  width: 90%;
  /* padding: 20px 30px; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
}

.objcard {
  width: 230px;
  height: 300px;
  margin: 20px;
  box-shadow: 3px 3px 7px #bababa;
  min-width: 230px;
  background-color: #f7f6ee;
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
  cursor: pointer;
}
.objcard:hover {
  box-shadow: 0 0 20px #bababa;
}
.objcard:active {
  transition: 0s;
  transform: scale(0.98);
}

.photo {
  height: 150px;
}

.photo > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.cardinfo {
  padding: 5px 15px;
}

.cardinfo > h1 {
  margin-bottom: 10px;
}

.objtype {
  color: #0066d1;
  display: inline;
  margin-left: 10px;
}

.objprice {
  color: red;
  font-weight: 700;
  font-size: 24px;
}

.delPrice {
  text-decoration: line-through;
  font-size: 20px;
  font-weight: 500;
  color: gray;
}

.WantToSee {
  font-size: 15px;
  color: rgb(9, 48, 148);
  padding: 10px 5px;
  text-align: right;
}

.WantToSee {
  align-self: flex-end;
}

.specialPrompt {
  position: absolute;
  font-size: 20px;
  top: 20px;
  right: -55px;
  color: white;
  padding: 2px 50px;
  transform: rotate(45deg);
}

.lowprice {
  background-color: red;
}

.discussion {
  background-color: forestgreen;
}

@media (max-width: 768px) {
  .objcards {
    width: 100%;
    padding: 20px 10px;
  }

  .filterRegion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0, -200vh);
    position: absolute;
    width: 100%;
    border-radius: 0 0 1.5rem 1.5rem;
    border-bottom: #7eb6ed solid 1rem;
    transition: 1s;
  }

  .showFilter {
    transform: translate(0, 0);
  }

  .cross {
    display: block;
  }
}

@media (max-width: 435px) {
  .objcard {
    width: 90%;
    height: auto;
  }

  .photo {
    height: 30vh;
  }

  .filterRegion {
    width: 100%;
  }
}
