*{
    /* border: 1px solid #000; */
    box-sizing:border-box ;
    font-family: sans-serif, 微軟正黑體;
}

html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: #2f2e2e;
}

.contents{
    position: relative;
}

.HomeImage>img{
    width: 100%;
    z-index: -1;
}

.Homewords{
    background-color: rgba(255, 255, 255, 0.3);
    width: 600px;
    z-index: 10;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    backdrop-filter: blur(10px);
}

.Homewords:hover{
    /* box-shadow: 10px 10px black; */
    background-color: rgba(255, 255, 255, 0.4);
    /* backdrop-filter: blur(5px); */

}

.Homewords h1{
    margin: 0 0 10px 0;
    font-size: 50px;
    padding: 10px;
    text-shadow: 0 0 50px white;
}

.Homewords h3{
    margin: 0 0 20px 0;
    color: #F7BAC5;
    text-shadow: 0 0 20px black;

}

.btn{
    /* border: 2px solid lightblue; */
    border-radius: 15px;
    padding: 10px 20px;
    /* width: 20%; */
    background-color: orange;
    font-size: 20px;
    color:black;
    text-align: center;
    font-weight: 700;
    transition: 0.3s;
    
}

.btn:hover{
    background-color: rgb(255, 215, 142);
}

.Homewords a{
    text-decoration: none; 
}

@media (max-width: 1253px) {
    /*當頁面寬小於背景圖片大小時的處理*/
    .HomeImage>img{
        height: 100vh;
        object-fit: cover;
    }
}


@media (max-width: 768px) {
    

    .Homewords{
        width: 320px;
        /* min-width: 320px; */
    }

    .Homewords h1{
        /* font-size: 6vw; */
        font-size: 50px;
    }

    .Homewords h3{
        /* font-size: 4vw; */
    }

    .btn{
        font-size: 15px;
    }



}