*{
    /* border: 1px solid #000; */
    box-sizing:border-box ;
    font-family: sans-serif, 微軟正黑體;
}

html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: #4B5154;
}

.contents{
    position: relative;
}

.HomeImage>img{
    width: 100%;
    z-index: -1;
}

.Homewords{
    background-color: rgba(255, 255, 255, 0.8);
    
    width: 700px;
    z-index: 10;
    padding: 30px 20px;
    border-radius: 14px;

    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    backdrop-filter: blur(3px);
}

.Homewords:hover{
    /* box-shadow: 10px 10px black; */
    background-color: rgba(255, 255, 255, 0.3);
    /* backdrop-filter: blur(5px); */

}


.Homewords h1{
    margin: 0 0 10px 0;
    font-size: 50px;
    padding: 10px;
    text-shadow: 0 0 10px white,0 0 50px white;
    text-align: center;
}

.Homewords h3{
    margin: 0 0 20px 0;
    color: rgb(72, 71, 71);
    /* text-shadow: 0 0 3px black,0 0 50px white; */
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    
}
.Homewords:hover h3{
    color:black;
    text-shadow: none;
    font-weight: 900;
    text-shadow: 0 0 100px pink;
}

.btn{
    /* border: 2px solid lightblue; */
    border-radius: 12px;
    display: inline-block;
    padding: 7px 15px;

    /* width: 20%; */
    background-color: orange;
    /* background: linear-gradient(150deg,orange,rgb(237, 160, 17)); */
    box-shadow: inset 7px 7px 7px rgb(250, 196, 97) , inset -5px -5px 7px rgb(211, 137, 0) , 5px 5px 8px rgb(145, 143, 143) ;
    font-size: 20px;
    color:black;
    text-align: center;
    font-weight: 900;
    transition: 1s;
}

.btn:hover{
    /* background: linear-gradient(720deg,orange,rgb(237, 160, 17)); */
    box-shadow: inset 10px 10px 10px rgb(250, 196, 97) , inset -10px -10px 7px rgb(211, 137, 0), 5px 5px 7px rgb(145, 143, 143);
    transition: 0.3s;

}



.btn:active{
    transition: 0s;
    background: none;
    background-color: orange;
    box-shadow: inset 5px 5px 5px rgb(211, 137, 0) , inset -3px -3px 10px rgb(250, 196, 97);
    /* transform: translate(0,2px) */
    transform: scale(0.98);
}

.Homewords a{
    text-decoration: none; 
}


.producer{
    position: fixed;
    z-index: 10;
    right: 20px;
    bottom: 10px;
    color: white;

}

.producer>p{
    font-size: 1px;
}


@media (max-width: 1253px) {
    /*當頁面寬小於背景圖片大小時的處理*/
    .HomeImage>img{
        height: 100vh;
        object-fit: cover;
    }
}


@media (max-width: 768px) {
    

    .Homewords{
        width: 320px;
        /* min-width: 320px; */
    }

    .Homewords h1{
        /* font-size: 6vw; */
        font-size: 50px;
    }

    .Homewords h3{
        font-size: 14px;
    }




}