*{
    /* border: 1px solid #000; */
    font-family: sans-serif, 微軟正黑體;
}

html,body{
    margin: 0;
    box-sizing:border-box ;
}

body{
    display: flex;
    flex-direction: column;
}

h1,h2,h3,h4,h5{
    margin: 0;
}

a{
    text-decoration: none;
}

.top{
    width: 100%;
    background-color: #CBAE88;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top h1{
    padding: 10px 0px;
    color: white;
    text-shadow: 0 0 10px #000;
    font-size: 40px;


}

.link{
    width: 100%;
    background-color: #2C2B32;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .btn{
    display: inline-block;
    width: 100px;
    padding: 5px 0;
    text-align: center;
    color: white;
    /* border: 1px solid gray; */
    transition: 0.3s;
}

.top .btn:hover{
    background-color: gray;
    font-weight: 700;
}

.mid{
    width: 100%;
    /* display: none; */
}

.bot{
    width: 100%;
    height: 200px;
    /* display: none; */
}




@media (max-width: 768px) {

}