<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>夢想家</title>
    <link rel="stylesheet" href="CSS/Major_page_style.css" />
    <link rel="stylesheet" href="CSS/AboutMe.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <header class="caption">
      <h1>「夢想家。」</h1>
    </header>

    <!-- 各種連結 -->
    <div id="linkList" class="link">
      <a v-for="i in linkButton" :href="i.link" :class="i.style"
        >{{ i.title }}</a
      >
    </div>

    <main id="middle" class="mid">
      <div class="about_me">
        <!-- <h1>😊關於我</h1> -->
        <div class="introducing_card goleft">
          <div class="left">
            <img
              class="PersonalPhoto"
              :src="photo.profilePhoto.src"
              :alt="photo.profilePhoto.name"
            />
          </div>

          <div class="right">
            <h2 class="name">您好! 我是{{name}}</h2>
            <p>
              歡迎來到夢想家不動產。太平洋房屋友成大湳店 實
              體店面桃園市八德區大智路73號
              我們希望能夠傳遞正面的訊息和內容。感謝大家來到我的網站！如果你喜歡我們的內容，萬分感謝.
              您要委託或看房歡迎來電洽詢 0915-309185 陳小姐。 服務項目：
              房地產銷售、房屋買賣、房屋銷售技巧、房屋營銷、房屋經紀人、房地產房屋投資、房屋裝修、房屋搜尋、房屋交易流程、佳宅買賣、房屋估價、房屋買賣合約、房屋貸款、地產經紀、房地產市場分析、房屋出租、房地產投資策略、空屋翻新、房屋貸款、房屋利率。
            </p>

            <div class="line_info">
              <img
                class="linePhoto"
                :src="photo.line.src"
                :alt="photo.line.name"
              />
              <h3>Line ID: {{lineId}}</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="location">
        <h1>📍聯絡地點</h1>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.05452990761!2d121.29829509999999!3d24.9642593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34681fbb692caa81%3A0x64270991320dee3f!2z5aSi5oOz5a62!5e0!3m2!1szh-TW!2stw!4v1698770762383!5m2!1szh-TW!2stw"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="doNotAttach goright"
        ></iframe>
      </div>

      <div class="shake">
        <h1>🦋抖音</h1>
        <blockquote
          class="tiktok-embed doNotAttach goleft"
          cite="https://www.tiktok.com/@yachinchen"
          data-unique-id="yachinchen"
          data-embed-type="creator"
          style="max-width: 780px; min-width: 288px"
        >
          <section>
            <a
              target="_blank"
              href="https://www.tiktok.com/@yachinchen?refer=creator_embed"
              >@yachinchen</a
            >
          </section>
        </blockquote>
        <script async src="https://www.tiktok.com/embed.js"></script>
      </div>
    </main>

    <footer id="bottom" class="bot">
      <h2>{{ linkPressWords }}</h2>
      <div class="icons">
        <a v-for="j in Icon" :href="j.link" v-show="j.display" class="icon">
          <img :src="j.src" />
        </a>
      </div>
    </footer>

    <script src="JavaScript/MajorPage.js"></script>
  </body>
</html>
