<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>夢想家-找房子</title>
    <link rel="stylesheet" href="CSS/Major_page_style.css" />
    <link rel="stylesheet" href="CSS/Findhouse.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <header class="caption">
      <h1>「夢想家。」</h1>
    </header>

    <!-- 各種連結 -->
    <div id="linkList" class="link">
      <a v-for="i in linkButton" :href="i.link" :class="i.style"
        >{{ i.title }}</a
      >
    </div>

    <main id="middle" class="mid">
      <!-- <div class="searchBar">
        <h1>這裡預計是篩選區塊</h1>
        <input type="text" />
      </div> -->

      <div class="objectRegion" id="objectRegion">
        <div class="filterSwitch" @click="openfilter">
          <i class="fa-solid fa-list-check"></i>
        </div>

        <div class="filterRegion" id="filter" ref="filterRegion">
          <h2 style="color: white">🔺我想找物件</h2>
          <div class="filterSelector">
            <label>關鍵字</label>
            <br />
            <input
              class="filterInput"
              placeholder="輸入文字"
              v-model="keyWords"
            />

            <br />

            <label>我的預算(單位:萬)</label>
            <br />
            <input
              class="filterInput"
              placeholder="輸入數字"
              v-model="budget"
            />
          </div>

          <div class="cross" @click="closefilter">×</div>
        </div>

        <div id="objcards" class="objcards" @click="closefilter">
          <!-- 單張卡 -->
          <div
            v-for="obj in cards"
            class="objcard hoverZoomIn"
            v-if="((obj.price<=budget) && (obj.objName.indexOf(keyWords)!=-1))"
          >
            <div class="photo">
              <img :src="obj.photoLink" alt="房屋照片" />
            </div>
            <div class="cardinfo">
              <h1 class="objname">{{ obj.objName }}</h1>
              <span>{{ obj.city }}</span>
              <span class="objtype">{{ obj.objType }}</span><br />
              <span class="delPrice" v-show="obj.discount"
                >{{ Math.round(obj.price*1.06) }}萬</span
              >
              <span class="objprice">{{ obj.price }}萬</span>
              <div class="WantToSee">看更多...</div>
              <div v-show="obj.discount" class="specialPrompt lowprice">
                賣方降價
              </div>
              <div v-show="obj.discussion" class="specialPrompt discussion">
                議價中
              </div>
            </div>
          </div>
          <!-- 單張卡 -->
        </div>
      </div>
    </main>

    <footer id="bottom" class="bot">
      <h2>{{ linkPressWords }}</h2>
      <h3>以上資料為作品使用，並非真實訊息。</h3>
      <br />
      <div class="icons">
        <a
          v-for="j in Icon"
          :href="j.link"
          v-show="j.display"
          class="icon"
          target="_blank"
        >
          <img :src="j.src" />
        </a>
      </div>
    </footer>

    <script src="JavaScript/MajorPage.js"></script>
    <script src="JavaScript/findhouse.js"></script>
  </body>
</html>
